body {
  background-image: url("../images/bg.png");
  background-size: 350px; }

#productnav {
  background-color: #272727;
  margin-top: -16px; }
  #productnav ul {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px; }
    #productnav ul li {
      cursor: pointer;
      margin-top: 25px;
      padding-left: 20px;
      padding-right: 20px;
      height: 20px;
      list-style: none;
      float: left;
      color: white;
      font-size: 1.2em;
      font-family: 'Lobster', cursive;
      padding-top: 5px;
      padding-bottom: 7px;
      text-align: center; }
    #productnav ul #headertitle {
      width: 380px;
      height: 45px;
      margin-top: 0px;
      list-style: none;
      text-align: left;
      float: left;
      color: white;
      font-size: 2em;
      padding-top: 22px;
      font-family: 'Lobster', cursive;
      padding-left: 35px; }
    #productnav ul #loginlink {
      margin-left: 400px; }
    #productnav ul #accountcredentials {
      display: none;
      margin-left: 0px;
      border: none; }
      #productnav ul #accountcredentials > button {
        font-family: 'Hammersmith One', sans-serif;
        margin-left: 10px;
        border-radius: 5px;
        background-color: #c0c0c0;
        border: 1px solid #c0c0c0;
        font-size: 14px; }
      #productnav ul #accountcredentials > button:hover {
        color: #000000; }
    #productnav ul span:hover {
      cursor: pointer; }

#useruploadscontainer {
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  padding-top: 0px;
  color: #FFFFFF;
  height: -2px;
  background-color: #272727;
  border-radius: 10px; }
  #useruploadscontainer #useruploads {
    font-family: 'Hammersmith One', sans-serif;
    overflow: hidden;
    height: 0px;
    margin: 0;
    margin-top: 10px; }
    #useruploadscontainer #useruploads > h2 {
      font-family: 'Hammersmith One', sans-serif;
      font-size: 32px;
      margin-bottom: 10px;
      border-bottom: 1px solid #FFFFFF;
      margin-right: 20px; }
    #useruploadscontainer #useruploads > li {
      border: none;
      text-align: center;
      display: inline-block;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 0px;
      width: 23%;
      font-family: 'Hammersmith One', sans-serif;
      font-size: 9px; }
      #useruploadscontainer #useruploads > li > i {
        font-weight: bold;
        font-size: 10px; }
      #useruploadscontainer #useruploads > li > div {
        overflow: hidden;
        background-color: #4a4c46;
        font-family: 'Hammersmith One', sans-serif;
        height: 30px;
        line-height: 32px;
        border: 1px solid #454740;
        padding: 10px;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 5px; }

#yearcontainer {
  user-select: none;
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #f5f5f5;
  background-image: url("../images/sprinkles.png"); }
  #yearcontainer #line {
    position: absolute;
    top: 46.5%;
    padding: 0px;
    margin-top: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    height: 0px;
    width: 100%;
    border-bottom: 1px solid #000000;
    height: 1px;
    z-index: 2; }
  #yearcontainer > ul {
    width: 1024px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top: 20px; }
    #yearcontainer > ul > li {
      float: left;
      list-style: none;
      width: 150px;
      display: block;
      color: #FFFFFF;
      font-family: 'Hammersmith One', sans-serif; }
      #yearcontainer > ul > li > ul {
        position: absolute;
        top: -30px;
        width: 100px;
        cursor: pointer; }
        #yearcontainer > ul > li > ul > li:first-child {
          padding-left: 0px; }
        #yearcontainer > ul > li > ul > li {
          width: 30px;
          height: 100px;
          padding-top: 0px;
          padding-bottom: 10px;
          padding-left: 40px;
          list-style: none;
          color: #000000; }
          #yearcontainer > ul > li > ul > li:nth-child(odd) {
            margin-top: 50px; }
            #yearcontainer > ul > li > ul > li:nth-child(odd) > span:nth-child(3) {
              visibility: hidden; }
          #yearcontainer > ul > li > ul > li:nth-child(even) {
            margin-top: -30px; }
            #yearcontainer > ul > li > ul > li:nth-child(even) > span:first-child {
              visibility: hidden; }
          #yearcontainer > ul > li > ul > li > img {
            width: 100%;
            margin-right: 50%;
            margin-left: 50%; }
          #yearcontainer > ul > li > ul > li > span {
            width: 100%;
            margin-right: 50%;
            margin-left: 50%; }
    #yearcontainer > ul .startdate {
      width: 50px; }
      #yearcontainer > ul .startdate span {
        border-radius: 50%;
        width: 50px;
        text-align: center;
        height: 50px;
        background-color: #211a21;
        border: 1px solid #FFFFFF;
        line-height: 50px;
        float: left; }
      #yearcontainer > ul .startdate i {
        border-left: 1px solid #211a21;
        margin-left: 25px;
        height: 25px;
        margin-bottom: -5px; }
    #yearcontainer > ul .enddate {
      margin-left: 140px;
      width: 50px; }
      #yearcontainer > ul .enddate span {
        border-radius: 50%;
        width: 50px;
        text-align: center;
        height: 50px;
        background-color: #211a21;
        border: 1px solid #FFFFFF;
        line-height: 50px;
        float: right; }
      #yearcontainer > ul .enddate i {
        border-left: 1px solid #211a21;
        margin-left: 25px;
        height: 25px; }

#accountcontainer {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lobster', cursive;
  color: #FFFFFF; }
  #accountcontainer #accountform {
    display: none;
    color: #FFFFFF;
    float: right; }
    #accountcontainer #accountform input {
      width: 150px;
      border-radius: 5px;
      font-family: 'Hammersmith One', sans-serif;
      border: none;
      color: #000000;
      margin-left: 10px;
      margin-right: 20px;
      padding-left: 10px;
      padding-top: 2px; }
    #accountcontainer #accountform button {
      font-family: 'Hammersmith One', sans-serif;
      margin-left: 10px;
      border-radius: 5px;
      background-color: #c0c0c0;
      border: 1px solid #c0c0c0;
      font-size: 14px; }
    #accountcontainer #accountform fieldset {
      border: none; }
    #accountcontainer #accountform legend {
      font-size: 16px;
      font-weight: bold; }
  #accountcontainer #error {
    color: #6b0905;
    font-family: 'Hammersmith One', sans-serif;
    float: right;
    width: 30%;
    padding-bottom: 10px;
    padding-right: 200px;
    font-weight: bold; }
  #accountcontainer #message {
    width: 100%;
    color: #FFFFFF;
    text-align: right;
    padding-right: 50px;
    font-family: 'Hammersmith One', sans-serif; }

#tvcontainer {
  width: 1024px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  height: 100%; }
  #tvcontainer > figure > img {
    width: 100%;
    z-index: 100;
    margin-bottom: -16px; }
  #tvcontainer > figure .vidcanvas {
    height: 75%;
    width: 70%;
    position: absolute;
    left: 6%;
    top: 6%;
    z-index: -1;
    background-color: #5c5542; }
  #tvcontainer > figure #yearcounter {
    position: absolute;
    top: 35%;
    left: 77%;
    background-image: url("../images/counter-bg.png");
    background-color: #e4e4e4;
    background-size: 110%;
    font-family: 'Hammersmith One', sans-serif;
    color: #000000;
    height: 15%;
    line-height: 160%;
    padding-top: 2.3%;
    width: 15%;
    font-size: 160%;
    font-weight: bold;
    text-align: center;
    z-index: -1;
    background-repeat: repeat; }
  #tvcontainer > figure #effectcanvas {
    opacity: 0.7; }

#videoplayer {
  display: none; }

#uploadcontainer {
  height: 0px;
  margin-top: 20px; }
  #uploadcontainer h2 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 1px solid #FFFFFF;
    margin-right: 20px; }
  #uploadcontainer #UploadArea {
    display: none;
    margin-left: auto;
    margin-right: auto; }
  #uploadcontainer #ProgressContainer {
    width: 100%;
    height: 18px;
    background: #F8F8F8;
    margin-top: 14px;
    border: 1px solid #E8E8E8;
    border-top: 1px solid #D8D8D8;
    border-radius: 4px;
    padding: 2px; }
  #uploadcontainer #ProgressBar {
    height: 100%;
    width: 0%;
    background: #2a0a08; }
  #uploadcontainer #UploadBox {
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
    background-color: #272727;
    height: 0px;
    overflow: hidden;
    width: 984px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px; }
    #uploadcontainer #UploadBox label {
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 15px; }
    #uploadcontainer #UploadBox input {
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 5px;
      border: none;
      padding-left: 5px;
      width: 400px;
      color: #000000; }
    #uploadcontainer #UploadBox input[type=file] {
      background-color: #FFFFFF;
      width: 361px; }
    #uploadcontainer #UploadBox button {
      border-radius: 5px;
      border: none;
      margin-left: 367px;
      font-family: 'Hammersmith One', sans-serif;
      margin-top: 8px;
      padding: 5px;
      padding-left: 20px;
      padding-right: 20px; }

#videouploads {
  background-color: #524235;
  color: #FFFFFF;
  margin-top: -5px;
  padding-top: 10px;
  padding-bottom: 10px; }
  #videouploads > div {
    margin-left: auto;
    margin-right: auto;
    width: 1024px; }
    #videouploads > div > ul > li {
      text-align: center;
      display: inline-block;
      margin-right: 1%;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 23%;
      font-size: 9px; }
      #videouploads > div > ul > li > i {
        font-weight: bold;
        font-size: 10px; }
      #videouploads > div > ul > li > div {
        overflow: hidden;
        background-color: #5c5542;
        font-family: 'Hammersmith One', sans-serif;
        height: 30px;
        line-height: 32px;
        border: 1px solid #5c5542;
        padding: 0px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 5px; }

.newcontent {
  background-color: #f2ecd5;
  margin: 0;
  z-index: 10;
  width: 100%;
  color: #272727; }
  .newcontent > h2 {
    margin: 0;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: 3px 7px 7px rgba(0, 0, 0, 0.2);
    font-family: 'Hammersmith One', sans-serif;
    color: #FFFFFF;
    height: 50px;
    display: block;
    background-color: #7a2a2a; }
  .newcontent > div {
    margin-left: auto;
    margin-right: auto;
    width: 1024px; }
    .newcontent > div > h3 {
      font-size: 26px; }
    .newcontent > div > p {
      padding-left: 50px;
      float: left;
      width: 60%;
      font-size: 18px; }
    .newcontent > div > * {
      display: none; }
    .newcontent > div > img {
      width: 20%;
      float: left; }

#historycontainer {
  background-color: #f5f5f5;
  background-image: url("../images/sprinkles.png");
  padding-top: 100px;
  margin-bottom: -20px;
  padding-bottom: 50px; }

.contentcontainer {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  padding: 20px;
  margin-bottom: 20px; }
  .contentcontainer:nth-child(even) .textcontainer {
    float: right; }
  .contentcontainer:nth-child(odd) .textcontainer {
    float: left; }
  .contentcontainer:nth-child(even) .imagecontainer {
    float: left; }
  .contentcontainer:nth-child(odd) .imagecontainer {
    float: right; }
  .contentcontainer .textcontainer {
    width: 70%;
    margin-left: 10px;
    height: 60%; }
  .contentcontainer .textcontainer > h2 > span {
    font-family: 'Hammersmith One', sans-serif;
    border-bottom: 1px solid #dfd3b9;
    padding-bottom: -10px;
    color: #FFFFFF;
    font-size: 22px;
    background-color: #000000;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    box-shadow: inset 0 0 0 1px black, inset 0 0 0 3px white, 3px 7px 7px rgba(0, 0, 0, 0.2); }
  .contentcontainer .textcontainer > p {
    font-size: 22px;
    font-family: "Arial", "Helvetica";
    height: 100%;
    padding: 20px;
    padding-left: 0px; }
  .contentcontainer .imagecontainer {
    position: relative;
    box-shadow: inset 0 0 40px 16px rgba(0, 0, 0, 0.5), inset 0 0 0 17px rgba(121, 122, 117, 0.4), 3px 7px 7px rgba(0, 0, 0, 0.2);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #4f4939; }
    .contentcontainer .imagecontainer > img {
      height: 150px;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }

.notLoggedIn {
  display: none; }

.center {
  margin-left: auto;
  margin-right: auto;
  width: 1024px; }

.clear {
  height: 0;
  clear: both; }

@media (min-width: 810px) and (max-width: 1024px) {
  #tvcontainer > figure > #yearcounter {
    font-size: 160%;
    line-height: 140%;
    top: 38%;
    padding-top: 0.5%;
    width: 13%;
    line-height: 150%; } }
@media (min-width: 710px) and (max-width: 810px) {
  #tvcontainer > figure > #yearcounter {
    font-size: 130%;
    width: 13%;
    top: 36%;
    padding-top: 1%;
    line-height: 150%; } }
@media (min-width: 500px) and (max-width: 710px) {
  #tvcontainer > figure > #yearcounter {
    font-size: 100%;
    left: 76%;
    top: 38%;
    padding-top: 0.5%;
    width: 13%; } }
@media (min-width: 0px) and (max-width: 750px) {
  #yearcontainer {
    padding-bottom: 0px; }
    #yearcontainer #line {
      display: none; }
    #yearcontainer > ul {
      width: 90%;
      margin: 0;
      padding: 0;
      margin-left: 8%;
      margin-right: 5%;
      margin-top: 20px;
      margin-bottom: 0;
      padding-bottom: 0; }
      #yearcontainer > ul > li {
        width: 14%;
        height: 100%;
        margin-right: 2%; }
        #yearcontainer > ul > li > ul {
          position: relative;
          margin: 0;
          padding: 0;
          margin-top: 10%;
          width: 50%;
          padding-left: -40px;
          height: 50%;
          display: block; }
          #yearcontainer > ul > li > ul > li {
            width: 200%;
            display: block;
            height: 100%;
            padding-bottom: 0;
            text-align: center; }
            #yearcontainer > ul > li > ul > li:nth-child(even) {
              margin-top: -20%;
              padding-left: 0; }
              #yearcontainer > ul > li > ul > li:nth-child(even) > span:first-child {
                visibility: hidden; }
            #yearcontainer > ul > li > ul > li:nth-child(odd) {
              margin-left: 0;
              margin-top: 0; }
            #yearcontainer > ul > li > ul > li > span {
              margin-right: 0;
              margin-left: 0;
              text-align: center; }
            #yearcontainer > ul > li > ul > li > img {
              width: 100%;
              margin-right: 0;
              margin-left: 0; }
      #yearcontainer > ul .startdate {
        width: 10%;
        display: none; }
      #yearcontainer > ul .enddate {
        display: none; }
        #yearcontainer > ul .enddate > i {
          margin-left: 10px; }
        #yearcontainer > ul .enddate > span {
          position: absolute;
          left: -15px;
          margin-left: 0px; } }
@media (min-width: 750px) and (max-width: 1024px) {
  #yearcontainer #line {
    display: block;
    top: 42.5%; }
  #yearcontainer > ul {
    width: 100%; }
    #yearcontainer > ul > li {
      width: 13%; }
      #yearcontainer > ul > li > ul > li {
        width: 30%; }
        #yearcontainer > ul > li > ul > li:nth-child(even) {
          margin-left: -40%; }
          #yearcontainer > ul > li > ul > li:nth-child(even) > span:first-child {
            visibility: hidden; }
    #yearcontainer > ul .startdate {
      width: 10%; }
    #yearcontainer > ul .enddate {
      width: 8%;
      margin-left: 105%;
      display: inline-block;
      height: 100px;
      position: relative; }
      #yearcontainer > ul .enddate > i {
        margin-left: 10px; }
      #yearcontainer > ul .enddate > span {
        position: absolute;
        left: -15px;
        margin-left: 0px; } }
@media (min-device-width: 0px) and (max-width: 1024px) {
  .newcontent > h2 {
    font-size: 120%; }
  .newcontent > div {
    width: 100%;
    font-size: 80%; }
    .newcontent > div > h3 {
      text-align: center; }
    .newcontent > div > p {
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 3%; }
    .newcontent > div > img {
      width: 80%;
      margin-left: 10%;
      clear: both; }

  #historycontainer {
    padding-top: 0;
    width: 100%; }
    #historycontainer .contentcontainer {
      width: 90%; }
      #historycontainer .contentcontainer .textcontainer {
        width: 60%;
        margin-bottom: 0;
        margin-top: 0; }
        #historycontainer .contentcontainer .textcontainer > h2 {
          margin: 0; }
        #historycontainer .contentcontainer .textcontainer > p {
          margin-bottom: 0;
          margin-top: 0; }
      #historycontainer .contentcontainer .imagecontainer {
        width: 30%;
        padding-bottom: 50%;
        background: none;
        box-shadow: none;
        height: 0; }
        #historycontainer .contentcontainer .imagecontainer > img {
          width: 100%;
          height: auto;
          position: absolute;
          top: 0;
          left: 0; }

  #productnav > ul {
    margin: 0;
    padding: 0;
    padding-left: 2%;
    width: 90%; }
    #productnav > ul > li {
      display: none; }
    #productnav > ul #accountcredentials {
      display: none;
      visibility: hidden;
      width: 0;
      height: 0; }
    #productnav > ul #headertitle {
      display: block;
      width: 90%;
      padding-left: 0;
      font-size: 200%;
      margin-right: 0;
      text-align: center; }
    #productnav > ul #useruploadscontainer {
      width: 100%; }

  #accountcontainer {
    width: 100%; }

  #videouploads > div {
    width: 100%;
    margin: 0; }
    #videouploads > div > ul {
      width: 90%;
      margin: 0;
      padding: 0;
      padding-left: 5%;
      padding-right: 5%; }
      #videouploads > div > ul > li > div {
        font-size: 90%; } }
@media (min-device-width: 500px) and (max-width: 1024px) {
  #tvcontainer {
    width: 95%;
    margin-left: 0;
    margin-right: 0; }
    #tvcontainer > figure > img {
      width: 100%; }
    #tvcontainer > figure .vidcanvas {
      position: absolute;
      left: 10.5%;
      vertical-align: center;
      width: 59%;
      height: 75%; }
    #tvcontainer > figure #effectcanvas > canvas {
      width: 100%;
      height: 100%; } }
@media (min-width: 0px) and (max-width: 500px) {
  #tvcontainer {
    display: none; }

  #videouploads {
    display: none; }

  #historycontainer {
    padding-top: 0;
    width: 100%; }
    #historycontainer .contentcontainer {
      width: 90%; }
      #historycontainer .contentcontainer .textcontainer {
        width: 100%;
        clear: both;
        margin-bottom: 0;
        margin-top: 0; }
        #historycontainer .contentcontainer .textcontainer > h2 {
          margin: 0; }
        #historycontainer .contentcontainer .textcontainer > p {
          margin-bottom: 0;
          margin-top: 0; }
      #historycontainer .contentcontainer .imagecontainer {
        width: 100%;
        padding-bottom: 50%;
        background: none;
        box-shadow: none;
        height: 0;
        float: left; }
        #historycontainer .contentcontainer .imagecontainer > img {
          width: 50%;
          height: auto;
          position: absolute;
          top: 0;
          left: 0; } }

/*# sourceMappingURL=global.css.map */
